@IMPORT url("/static/css/reset.css");

html, body
{
    height: 100%;
}

.main-title
, .sub-title
{
    display: none;
}


#visual img
{
    width: 100%;
}

/* �엫�떆 */
#main
{
    display: flex;
    align-items: flex-start;
    height: 100%;
}

#main>.main-content
{
    --border: 1px solid grey;
    width: 30%;
    margin: 10px;
    
}

#main>.main-content>.content-title
{
    font-size: 120%;
    font-weight: bold;
}
